.admin_table {
    display: grid;
    align-items: center;
    grid-template-columns: 150px 200px 100px 200px 1fr;
    gap: 50px;
    justify-items: center;
    border-bottom: 1px solid #c2c1c1;
    padding: 20px 0;
    img {
        width: 100%;
        border-radius: 5px;
    }
    p {
        font-weight: 700;
        font-size: 17px;     
    }
    span {
        font-size: 16px;
    }
    &-span {
        display: none;
    }
    &-button {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 10px 0;
        button {
            width: 80px;
            background-color: white;
            border-radius: 4px;
            padding: 7px;
            cursor: pointer;
            font-size: 15px;
        }
        &-edit {
            border: 1px solid #1dc1e6;
            color: #1dc1e6;
            &:hover {
                background-color: #1dc1e6;
                color: white;
                transition: all 0.3s ease;
            }
        }
        &-delete {
            border: 1px solid #343434;
            color: #343434;
            &:hover {
                background-color: #343434;
                color: white;
                transition: all 0.3s ease;
            }
        }
    }
}

@media screen and (max-width :1023px) {
    span {
        display: flex;
        gap: 10px;
        b {
            font-weight: 600;
        }
    }
    .admin_table-span {
        display: inline-block;
        font-size: 16px;
    }
}