.lampItem {
  border-radius: 5px;
  border: 1px solid #e6d7d7;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  &:hover {
    border: 1px solid #b8b5b5;
    transition: all 0.3s ease;
  }
  &_img {
    height: 330px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0.5px solid #e6d7d7;
  }

  &-text {
    padding-left: 20px;
    padding-right: 20px;

    h4 {
      margin: 5px 0 3px;
    }
    
    p {
      margin: 0 0 7px;
    }
  }
}