body{
	background-color:  #B0C4DE;
}

h1{
	text-align: center;
}

h2{
	text-decoration: underline;
	font-style:italic;
} 

ul{
	padding: 0px; /* удаление маркеровок(набивка) */
	text-align: center;
}  

.img {
	text-align: center;
} 

.back{
	text-decoration: overline;
}

.link{
	text-align: right;
}

.download{
	text-decoration: line-through;
	text-align: right;
}
