.header {
  position: relative;
  padding: 45px 44px 45px 49px;
  background-image: url("../images/header-bg.png");
  background-position: center;
  background-size: cover;
}
.header-main {
  padding: 37px 46px 120px 41px;
  background: rgba(0, 0, 0, 0.7);
}
.header-main__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}
.header-main__button-wrap {
  margin: 6px 0 0 auto;
}
.header-main__button-wrap a {
  color: #ffffff;
  font-family: "Helvetica-Medium", sans-serif;
}
.header-main__content {
  padding: 78px 0 0 80px;
}
.header-main__content a span {
  color: #ffffff;
}
.header-main__title {
  text-transform: uppercase;
  margin: 0 0 15px 0;
  font-size: 82px;
  line-height: 90.2px;
  color: #DA353B;
  font-family: "Helvetica-Black", sans-serif;
}
.header-main__title-dop {
  font-family: "Helvetica-UltraLight", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.header-main__description {
  font-family: "Helvetica", sans-serif;
  color: #ffffff;
  margin: 0 0 21px 0;
}
.header-main__notification {
  padding: 21px 44px 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #DA353B;
  position: absolute;
  bottom: 125px;
  right: 0;
}
.header-main__logo-icon {
  height: 40px;
  width: 157px;
}
.header-desktop_none {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 38px 14px 43px 14px;
  }
  .header-main {
    padding: 17px 15px 176px 14px;
  }
  .header-main__logo-icon {
    height: 23px;
    width: 91px;
  }
  .header-desktop_none {
    display: block;
  }
}
@media (max-width: 1024px) {
  .header-main__content {
    padding: 40px 0 0 40px;
  }
  .header-main__notification {
    bottom: 80px;
  }
}
@media (max-width: 768px) {
  .header-main__button-wrap {
    margin: 0;
    position: absolute;
    top: 0;
    right: 55px;
  }
  .header-main__content {
    padding: 25px 0 0 0;
  }
  .header-main__title {
    font-size: 45px;
    line-height: 49.5px;
    margin: 0 0 7px 0;
  }
  .header-main__description {
    line-height: 22px;
    margin: 0 0 20px 3px;
    letter-spacing: 0.5px;
    font-family: "Helvetica-UltraLight", sans-serif;
  }
  .header-main__notification {
    padding: 27px 42px 23px 30px;
  }
}
.navigation-main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}
.navigation-main__item_active {
  position: relative;
}
.navigation-main__item_active::after {
  content: "";
  position: absolute;
  top: -92px;
  left: 0;
  width: 100%;
  height: 45px;
  background: #DA353B;
}
.navigation-main__link_hover {
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.navigation-main__link_hover:hover {
  font-weight: 300;
  text-shadow: none;
}

@media (max-width: 1137px) {
  .navigation-main {
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .navigation-main__list {
    margin-bottom: 0px;
  }
}
@media (max-width: 768px) {
  .navigation-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation-main__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 6px 28px;
    text-transform: uppercase;
    height: 100px;
  }
}
@media (max-width: 1200px) {
  .navigation-main__item_active::after {
    display: none;
  }
}
.notification__date {
  font-size: 23px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Helvetica-Black", sans-serif;
}
.notification__place {
  font-size: 14.7px;
  line-height: 32px;
  font-family: "Helvetica-UltraLight", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
.notification__logo {
  margin: 0 0 0 68px;
  font-family: "Helvetica-Medium", sans-serif;
  font-weight: 700;
  line-height: 19px;
  color: #ffffff;
}

@media (max-width: 850px) {
  .notification__logo {
    position: absolute;
    top: -42px;
    right: 26px;
    line-height: 17px;
  }
}
@media (max-width: 768px) {
  .notification__logo {
    top: -34px;
  }
}
.letter-big {
  font-size: 25px;
}
.letter-small {
  font-size: 20px;
  letter-spacing: 1.4px;
}

@media (max-width: 768px) {
  .letter-big {
    font-size: 22px;
  }
  .letter-small {
    font-size: 18px;
    letter-spacing: 0.6px;
  }
}
.section-questions {
  padding: 0 0 204px 0;
}

@media (max-width: 768px) {
  .section-questions {
    padding: 0;
  }
}
.experience-block {
  padding: 61px 0 80px 0;
  position: relative;
}
.experience-block__title {
  font-size: 48px;
  line-height: 72px;
  text-transform: uppercase;
  margin: 0 0 48px 0;
  position: relative;
  font-family: "Helvetica-Black", sans-serif;
}
.experience-block__title span {
  color: #DA353B;
}
.experience-block__description {
  font-size: 24px;
  line-height: 36px;
  max-width: 564px;
}

@media (max-width: 1024px) {
  .experience-block {
    padding: 78px 0 80px 30px;
  }
}
@media (max-width: 768px) {
  .experience-block {
    padding: 32px 0 42px 0;
  }
  .experience-block__title {
    margin: 0 0 12px 0;
    font-size: 44px;
    line-height: 39.6px;
  }
  .experience-block__description {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (min-width: 769px) {
  .experience-block__title::after {
    content: "";
    position: absolute;
    top: -125px;
    left: -78px;
    width: 220px;
    height: 220px;
    border: 6px solid #DA353B;
  }
}
.design-experts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.design-experts__img-wrap {
  position: relative;
  max-width: 831px;
}
.design-experts__img-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 501px;
  background: rgba(0, 0, 0, 0.55);
}
.design-experts__img-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 21px;
  background: #DA353B;
}
.design-experts__content {
  margin: 0 0 0 60px;
  padding: 0 20px 0 0;
}
.design-experts__title {
  font-size: 36px;
  line-height: 39.6px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-family: "Helvetica-Black", sans-serif;
}
.design-experts__title-mobile-red {
  color: #DA353B;
}
.design-experts__description {
  margin: 0 0 14px 0;
}
.design-experts__additional {
  color: #DA353B;
  font-family: "Helvetica-Black", sans-serif;
}

@media (max-width: 768px) {
  .design-experts {
    padding: 0 20px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .design-experts__img-wrap::before {
    width: 231px;
  }
  .design-experts__img-wrap::after {
    width: 9px;
  }
  .design-experts__content {
    position: relative;
    top: -67px;
    padding: 0 0 0 28px;
    margin: 0;
  }
  .design-experts__title {
    font-size: 40px;
    line-height: 36px;
    margin: 0 0 12px 0;
  }
  .design-experts__title-mobile {
    color: #ffffff;
  }
  .design-experts__description {
    margin: 0 0 8px 0;
  }
  .design-experts__mobile-none {
    display: none;
  }
}
.section-speakers {
  padding: 0 0 163px 168px;
}
.section-speakers__title {
  font-size: 48px;
  line-height: 72px;
  text-transform: uppercase;
  position: relative;
  margin: 0 0 52px 0;
  font-family: "Helvetica-Black", sans-serif;
}

@media (max-width: 1024px) {
  .section-speakers {
    padding: 0 0 163px 50px;
  }
}
@media (max-width: 768px) {
  .section-speakers {
    padding: 0 0 40px 13px;
    top: -30px;
  }
  .section-speakers__title {
    font-size: 44px;
    line-height: 66px;
    margin: 0 0 10px 0;
  }
}
@media (min-width: 769px) {
  .section-speakers__title::after {
    content: "";
    position: absolute;
    top: -125px;
    left: -79px;
    width: 220px;
    height: 220px;
    background: transparent;
    border: 6px solid #DA353B;
  }
}
.slider-speakers {
  position: relative;
}
.slider-speakers__name {
  font-size: 24px;
  line-height: 33.6px;
  margin: 34px 0 8px 0;
  text-transform: uppercase;
  font-family: "Helvetica-Medium", sans-serif;
}
.slider-speakers__name span {
  color: #DA353B;
}

@media (max-width: 768px) {
  .slider-speakers__name {
    margin: 24px 0 5px 0;
    font-size: 24px;
    line-height: 24px;
  }
}
.carousel__prev, .carousel__next {
  height: 43px !important;
  width: 43px !important;
  border: 2px solid #DA353B !important;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.carousel__prev:hover, .carousel__next:hover {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background: #DA353B;
  color: #ffffff;
}
.carousel__prev:hover svg path, .carousel__next:hover svg path {
  stroke: #ffffff;
}
.carousel__prev {
  left: auto !important;
  right: 155px;
  top: 110% !important;
}
.carousel__next {
  right: 87px !important;
  top: 110% !important;
}
.carousel__slide {
  display: block !important;
  padding: 0 10px;
  text-align: left;
}

@media (max-width: 768px) {
  .carousel__prev, .carousel__next {
    display: none !important;
  }
}
.section-form {
  position: relative;
  padding: 90px 109px 105px 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.section-form::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: 100%;
  background-image: url("../images/form-bg.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.section-form__title {
  font-size: 48px;
  line-height: 26px;
  margin: 0 0 39px 0;
  text-transform: uppercase;
  font-family: "Helvetica-Black", sans-serif;
}
.section-form__title-red {
  color: #DA353B;
}
.section-form__left {
  width: 100%;
  max-width: 540px;
  margin: 0 100px 0 0;
}
.section-form__right {
  padding: 22px 0 0 0;
}
.section-form__img-wrap {
  z-index: 10;
  position: relative;
  max-width: 526px;
}
.section-form__img-wrap::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: -24px;
  right: -24px;
  width: 89%;
  height: 97%;
  border: 6px solid #DA353B;
}

@media (max-width: 1279px) {
  .section-form__right {
    display: none;
  }
}
@media (max-width: 768px) {
  .section-form {
    padding: 40px 28px;
    background-image: url("../images/form-bg.png");
    background-position: center;
    background-size: cover;
  }
  .section-form::before {
    background-image: none;
  }
  .section-form__title {
    font-size: 44px;
    line-height: 39.6px;
    margin: 0 0 16px 0;
  }
  .section-form__left {
    margin: 0;
    max-width: 100%;
  }
}
.form-participate__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
}
.form-participate__input::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  color: #000;
}
.form-participate__input::-moz-placeholder {
  -moz-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  color: #000;
}
.form-participate__input:-ms-input-placeholder {
  -ms-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  color: #000;
}
.form-participate__input::-ms-input-placeholder {
  -ms-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  color: #000;
}
.form-participate__input::placeholder {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  color: #000;
}
.form-participate__input-wrap:not(:first-child) {
  margin: 30px 0 0 0;
}
.form-participate__button-wrapper {
  margin: 59px 0 0 0;
  width: 100%;
}
.form-participate__button-wrapper button {
  color: #ffffff;
  font-family: "Helvetica-Medium", sans-serif;
}

@media (max-width: 768px) {
  .form-participate__input-wrap:not(:first-child) {
    margin: 30px 0 0 0;
  }
  .form-participate__button-wrapper {
    margin: 40px 0 0 0;
  }
}
.input-participate {
  position: relative;
  padding: 6px 0 18px 0;
  text-transform: uppercase;
  font-family: "Helvetica-Medium", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1px;
  width: 100%;
  border: 0;
  background: transparent;
  border-bottom: 3px solid #000000;
}

@media (max-width: 768px) {
  .input-participate {
    font-size: 16px;
  }
}
.btn-registration {
  width: 100%;
  padding: 17px 0;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
}

.footer {
  padding: 87px 80px 86px 80px;
  background: #000;
}
.footer__logo {
  cursor: pointer;
}
.footer__logo-icon {
  height: 40px;
  width: 157px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
.footer__tel {
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Helvetica-Medium", sans-serif;
}
.footer__email {
  color: #DA353B;
}

@media (max-width: 768px) {
  .footer {
    padding: 48px 29px 48px 27px;
    background: #000;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footer__logo, .footer__email, .footer__tel {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.socials-list__li:not(:last-child) {
  position: relative;
  margin: 0 59px 0 0;
}
.socials-list__li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50px;
  width: 4px;
  height: 4px;
  background: #DA353B;
}
.socials-list__icon {
  fill: #A3A3A3;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.socials-list__icon:hover {
  fill: #fff;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.socials-list__icon_twitter, .socials-list__icon_in, .socials-list__icon_instagram {
  width: 24px;
  height: 24px;
}
.socials-list__icon_facebook {
  width: 13px;
  height: 24px;
}
.socials-list__icon_youtube {
  width: 24px;
  height: 17px;
}
.socials-list__icon__big {
  display: none;
}

@media (max-width: 768px) {
  .socials-list__li:not(:last-child) {
    margin: 0 50px 0 0;
  }
}
@font-face {
  font-family: "Helvetica-Black";
  src: url("../fonts/Helvetica-Black.woff") format("woff"), url("../fonts/Helvetica-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-Light";
  src: url("../fonts/Helvetica-Light.woff") format("woff"), url("../fonts/Helvetica-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-Medium";
  src: url("../fonts/Helvetica-Medium.woff") format("woff"), url("../fonts/Helvetica-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-UltraLight";
  src: url("../fonts/Helvetica-UltraLight.woff") format("woff"), url("../fonts/Helvetica-UltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 16px;
  line-height: 26px;
  font-family: "Helvetica-Light", sans-serif;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

p {
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

input {
  outline: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
.wrapper-content {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  padding: 7px 15px;
  display: inline-block;
  cursor: pointer;
  border: 0;
}
.button:focus {
  outline: none;
}
.button_red {
  position: relative;
  overflow: hidden;
  background-color: #DA353B;
}
.button_red::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  z-index: 1;
}
.button_red:hover::before {
  left: 0;
  opacity: 1;
  left: 0;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
.button_red span {
  z-index: 10;
  position: relative;
  letter-spacing: 1px;
}
.button_participate span {
  font-size: 14px;
  line-height: 29px;
}
.button_transparent {
  position: relative;
  overflow: hidden;
}
.button_transparent::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #DA353B;
  opacity: 0;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  z-index: 1;
}
.button_transparent::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #ffffff;
}
.button_transparent:hover::before {
  left: 0;
  opacity: 1;
  left: 0;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
.button_transparent span {
  z-index: 10;
  font-family: "Helvetica", sans-serif;
  position: relative;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 29px;
}
.button-mobile {
  display: none;
  padding: 34px 22px 14px 22px;
  letter-spacing: 1px;
  border: 0;
}

@media (max-width: 768px) {
  .button_transparent span {
    font-size: 18px;
    line-height: 26px;
  }
  .button_participate {
    display: none;
  }
  .button-mobile {
    display: block;
  }
  .button_mobile-transparent {
    padding: 12px 16px;
  }
}