@font-face {
  font-family: 'Proxima Nova Light';
  /* текст на сайте показывать нужно, внезависимоти загрузился ли шрифт */
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/ProximaNova-Light.woff") format("woff"),
      url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  /* текст на сайте показывать нужно, внезависимоти загрузился ли шрифт */
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/ProximaNova-Semibold.woff") format("woff"),
      url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
}

.fw-bold {
  font-family: 'Proxima Nova Semibold', sans-serif;
}

* {
  box-sizing: border-box;
}

a,label,select,input[type="checkbox"]:hover {
  cursor: pointer;
}

.menu {
  top: 80px;
  z-index: 999;
  transform: translateY(-200%);
  transition: 0.3s;
}

.menu-link {
  border: 1px solid #0d6efd;
  transition: 0.3s;
}

.menu-link:hover, .menu-link:focus {
  border: 1px solid;
  transition: 0.3s;
}

.menu_active {
  transform: translateY(0);
  opacity: 1;
}

.menu-button {
  height: 80px;
  width: 70px;
}

.menu-button_line {
  height: 3px;
}

.header-menu {
  z-index: 999;
}

#home {
  /* по вертикале по центру и справа по горизонтале */
  background: #f1f1f1 url('../img/home/home-bg.jpg') no-repeat center top;
  background-size: contain;
  padding-top: 130px;
  padding-bottom: 270px;
}

/* ОСТАВЬТЕ ЗАЯВКУ НА РАСЧЕТ */
#offer {
  max-width: 1000px;
}

.offer-block {
  margin-top: -135px;
  background: url('../img/offer/offer-01.png') no-repeat center right;
  background-size: contain;
}

/* НАШИ ПРЕИМУЩЕСТВА */
#advantages i {
  width: 80px;
  height: 80px;
}

/* КАТАЛОГ СКИНАЛИ */
#catalog span {
  background-color: #7c9fe8;
  color:#fff;
  transition: 0.5s;
}

#catalog span:hover {
  background-color: #fff;
  color:#7c9fe8;
  transition: 0.5s;
}

#catalog button {
    font-size: 14px;
}

.catalog-button {
  transition: 0.2s;
  transform: translateY(100%);
  opacity: 0;
}

.card:hover .catalog-button {
  transform: translateY(0);
  opacity: 1;
}

.button-fitting, .button-add:hover {
  color:#7c9fe8;
  transition: 0.5s;
  background-color: #fff;
}

.button-fitting:hover, .button-add {
  background-color: #7c9fe8;
  color:#fff;
  transition: 0.5s;
}

/* Полезное или что важно знать о скиналли... */
#articles .card:hover {
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

#articles img {
  height: 200px;
}

/* ЦЕНЫ И ВИДЫ СКИНАЛИ */
#price button{
    opacity: 0;
    top: 35%;
    transition: opacity 0.5s;
}

#price button:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

#price img {
  height: 306px;
}

/* ЭТАПЫ РАБОТ */
.stages-line {
    top: 60px;
    border-top: 2px dashed rgba(66,133,244,.6);
}

/* ДО И ПОСЛЕ */
.before-slider-wrap {
  max-width: 700px;
}

.before-slider__dots {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.before-slider__dots li {
  width: 10px;
  height: 10px;
  background-color: #d1d1d1;
  border-radius: 50%;
  margin: 5px;
}

.before-slider__dots li:hover {
  cursor: pointer;
}

li.slick-active {
    background-color: #5b7fda;
}

.before-slider__dots button {
  display: none;
}

.slider__item {
  width: 82.835%;
  padding: 17.094% 0;
  margin: 0 8.59%;
  flex-shrink: 0;
}

.slider__prev,
.slider__next {
  transform: translateY(-50%);
  cursor: pointer;
}

/* ОТЗЫВЫ НАШИХ КЛИЕНТОВ */
.reviews-img i {
    background: #ddd;
}

.reviews-slider-text:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top: 10px solid white;
}

/* ИЩИТЕ ГДЕ ДЕШЕВЛЕ И ЛУЧШЕ? */
#forma {
  max-width: 1150px;
}

.forma-block {
  margin-top: -120px;
  background: url('../img/offer/offer-02.png') no-repeat center right;
  background-size: contain;
}

/* Остались вопросы? */
#questions a:after {
    content: "";
    display: block;
    background-color: #4285f4; /*задаём цвет линии*/
    height: 1px; /*задаём ширину линии*/
    width: 0%;/*задаём длинну линии до наведения курсора*/
    left: 50%;
    position: absolute;
    transition: width .3s ease-in-out; /*задаём время анимации*/
    transform: translateX(-50%);
}

#questions a:hover:after,
#questions a:focus:after {
    width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}


@media (max-width: 600px) {
  .navbar-logo {
    display: none;
  }
}

/* Убираем картинку с 2х форм */
@media (max-width: 768px) {
  .offer-block {
    background: none;
  }
  .forma-block{
    background: none;
  }
}

@media (max-width: 991px) {
  /* Убираем линию с ЭТАПЫ РАБОТ */
  .stages-line {
    display: none;
  }
  /* Убираем номера телефоном с header */
  .navbar-mobile, .navbar-landline {
    display: none;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px
  }
  .menu-nav {
    flex-direction: column;
  }
}
