<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Конструктор тортов</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="css/styles.css" rel="stylesheet">
	<script src="js/vue.js"></script>
</head>
<body>
	<div class="container mt-3">
		<div class="app">
			<div v-if="!formDone">
				<h2 class="text-center">Конструктор тортов</h2>
				<hr>
				<div class="text-center">
					<button type="button" class="btn btn-primary" @click="addLayer">Добавить слой</button>
				</div>
				<hr v-show="hasLayers">
				<div class="row align-items-center">
					<div class="col-12 col-lg-4 mb-3 mb-lg-0">
						<div v-for="(layer, i) in layers">
							<div 
								:class="'layer layer-enter-active layer-' + layer.type"
								:style="layerStyle(layer)"
								@click="increaseHeight(i)"
								@contextmenu.prevent="decreaseHeight(i)"
							></div>
						</div>
					</div>
					<div class="col-12 col-lg-8">
						<table class="table table-bordered" v-show="hasLayers">
							<tr class="text-center">
								<th>Тип (бисквит/безе/творожный)</th>
								<th>Высота слоя</th>
								<th>Цена за штуку</th>
								<th>Общая цена за слой</th>
								<th>Удалить</th>
							</tr>
							<tr v-for="(layer, i) in layers">
								<td>
									<select class="form-control" v-model="layer.type">
										<option v-for="(info, type) in layersTypes" :value="type">
											{{ info.label }}
										</option>
									</select>
								</td>
								<td>
									<input type="text" class="form-control" v-model.number="layer.height">
								</td>
								<td class="text-center">{{ layersTypes[layer.type].price }} ₽</td>
								<td class="text-center">{{ layer.height * layersTypes[layer.type].price }} ₽</td>
								<td class="text-center">
									<button type="button" class="btn btn-danger" @click="removeLayer(i)">X</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div v-show="hasLayers">
					<hr>
					<div class="alert alert-success d-flex justify-content-center">
						<span class="price">{{ price }} ₽</span>
						<button type="button" class="btn btn-warning" @click="sendForm">Заказать!</button>
					</div>
				</div>
			</div>
			
			<div v-else>
				<h2>Данные отправлены</h2><hr>
				<table class="table table-bordered">
					<tr class="text-center">
						<th>Тип слоя</th>
						<th>Высота слоя</th>
						<th>Цена за штуку</th>
						<th>Общая цена за слой</th>
					</tr>
					<tr v-for="(layer, i) in layers" :key="i" class="text-center">
						<td>{{ layersTypes[layer.type].label }}</td>
						<td>{{ layer.height }}</td>
						<td>{{ layersTypes[layer.type].price }} ₽</td>
						<td>{{ layer.height * layersTypes[layer.type].price }} ₽</td>
					</tr>
					<tr>
						<th colspan="3">Общая сумма торта</th>
						<th class="text-center">{{ price }} ₽</th>
					</tr>
				</table>
			</div>

		</div>
	</div>

	<script>
		
		let app = Vue.createApp({
			data(){
				return {
					layers: [], //слои
					layersTypes: {
						biscuit: {
							price: 50, //цена
							label: 'Бисквит'
						},
						beze: {
							price: 100,
							label: 'Безе'
						},
						curd: {
							price: 60,
							label: 'Творожный'
						}
					},
					//начальные значения
					defaultLayer: 'biscuit',
					defaultHeight: 5,
					formDone: false,
				}
			},
			computed: {
				hasLayers(){
					return this.layers.length > 0;
				},
				price(){
					let sum = 0;

					for(let i = 0; i < this.layers.length; i++){
						let ltype = this.layersTypes[this.layers[i].type];
						sum += this.layers[i].height * ltype.price;
					}

					return sum;
				},
				layerStyle: () => (layer) => ({
					height: layer.height * 10 + 'px'
				}),
			},
			methods: {
				// добавляем слой
				addLayer(){
					this.layers.push({ 
						type: this.defaultLayer, 
						height: this.defaultHeight 
					});
				},
				// удаляем слой
				removeLayer(i){
					this.layers.splice(i, 1);
				},
				// увеличение высоты для слоя 
				increaseHeight(index) {
					this.layers[index].height++;
				},
				// уменьшение высоты для слоя 
				decreaseHeight(i) {
					if (this.layers[i].height > 1) {
					  this.layers[i].height -= 1;
					}
				},
				sendForm(){ 
					this.formDone = true;
				}
			}
		});
		
		let root = app.mount('.app');
	</script>
</body>
</html>
