.text-box{
    padding-top: 2rem;
}

.fonts {
    font-size: 3rem; 
    text-align: center;
    padding: 2rem; 
}

small {
    font-size: 1.7rem; 
}

.Open-Sans {
  font-family:'Open Sans', sans-serif;
}

.Lobster{
  font-family: 'Lobster', cursive;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeueBold.woff') format('woff'),
        url('../fonts/BebasNeueBold.ttf') format('truetype'),
        url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.Bebas-Neue{
  font-family: 'Bebas Neue', sans-serif;
} 

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.eot');
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Italic.woff2') format('woff2'),
        url('../fonts/Lato-Italic.woff') format('woff'),
        url('../fonts/Lato-Italic.ttf') format('truetype'),
        url('../fonts/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

.Lato{
  font-family: 'Lato', sans-serif;
} 

