/* Fonts family */
@font-face {
    font-family: 'Iowan Old Style';
    src: url('../fonts/IowanOldStyle-Bold.eot');
    src: url('../fonts/IowanOldStyle-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IowanOldStyle-Bold.woff') format('woff'),
        url('../fonts/IowanOldStyle-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: 'Jost', sans-serif;
  color: #222222;
}

.main-title h1 {
  font-family: 'Iowan Old Style', sans-serif;
}

.main-list li:before {
  content: '';/* Добавить что-то перед ссылками */
  display: inline-block;
  margin-right: 10px;/* отступ от стрелочки */
  width: 14px;
  height: 14px;
  background: url(../img/check.svg) center no-repeat;
  /* background-size - масштабирует фоновое изображение
        согласно заданным размерам */
  background-size: 100%;
}

a:hover {
  text-decoration: none; /*underline*/
}

.main {
  background: url(../img/bg-main.jpg) center center no-repeat;
  background-size: cover; /*Масштабирует изображение с сохранением пропорций так,
  чтобы его ширина или высота равнялась ширине или высоте блока*/
}

.geo-block p:before {
  content: '';
  display: inline-block;
  margin: 0 10px -3px 0;
  width: 20px;
  height: 20px;
  background: url(../img/geo.svg) center no-repeat;
  background-size: 100%;
}

.geo-link {
  font-family: 'Iowan Old Style', sans-serif;
}

.phone-block, li {
  list-style: none;
}

.phone-block a:before {
  content: '';
  display: inline-block;
  margin: 0 10px -4px 0;
  width: 20px;
  height: 20px;
  background: url(../img/phone-call.svg) center no-repeat;
  background-size: 100%;
}

.phone-link, .footer-content {
  font-family: 'Iowan Old Style', sans-serif;
}

.contact-link {
  text-decoration: underline;
  white-space: nowrap;
}

.contact-block a:before {
  content: '';
  display: inline-block;
  margin: 0 10px -6px 0;
  width: 20px;
  height: 20px;
  background: url(../img/envelope.svg) center no-repeat;
  background-size: 100%;
}

.footer-block-geo p:before {
  content: '';
  display: inline-block;
  margin: 0 10px -3px 0;
  width: 20px;
  height: 20px;
  background: url(../img/geo.svg) center no-repeat;
  background-size: 100%;
}

/* uslugi */

.uslugi {
  background: url(../img/bg-gray.jpg) no-repeat top center;
  background-size: cover;
}

.uslugi h1, h2 {
  font-family: 'Iowan Old Style', sans-serif;
}

.uslugi ul {
  font-size: 0.9em;
}

/*Подвал*/

.uslugi .card, .shagi .card{
  border-radius:10px;
  border:none;
}

.uslugi .card li {
  line-height: 120%;
  list-style: inside; /*Маркер является частью текстового блока и
  отображается в элементе списка*/
  list-style-type: "— ";
}

.btn {
  border:none;
}


/*О КОМПАНИИ*/

#main-compania {
  background: #EDEFF4;
}

#main-compania h4 {
  font-family: 'Iowan Old Style', sans-serif;
}


/*ПОДВАЛ*/

#main-basement {
  background: url(../img/insight-footer.jpg) center no-repeat;
  background-size: cover;
}

#main-basement .adv{
  font-family: 'Iowan Old Style', sans-serif;
}


/*1*/

#nedvigimost {
  background: url(../img/bg-gray-2.jpg) center no-repeat;
  background-size: cover;
  padding: 92px 0 0 0;
}

#nedvigimost h1 {
  font-family: 'Iowan Old Style', sans-serif;
}

#nedvigimost a {
  text-decoration: underline;
}

#sectii a {
	text-decoration: none;
}

#text {
  background: url(../img/insight-bg-2.jpg) center no-repeat;
  background-size: cover;
}

#icon {
  background: url(../img/bg-gray-3.jpg) center no-repeat;
  background-size: cover;
}

#icon h4 {
  font-family: 'Iowan Old Style', sans-serif;
}

#sectii .card, #form .card, #svaz .card {
  border-radius:10px;
  border:none;
}

#insight .adv {
  font-family: 'Iowan Old Style', sans-serif;
  white-space: nowrap; /*Пробелы не учитываются, переносы строк в коде 
  HTML игнорируются, весь текст отображается одной строкой; вместе с тем*/
}

#insight .adv2 {
  font-family: 'Iowan Old Style', sans-serif;
}

#svaz textarea, #form textarea {
  resize: none; /*Размеры элемента не изменяются*/
}

#text-2 {
  background-color: #EDEFF4;
}

#top_menu {z-index:99999;}

.cardins a.card {
  transition: all 0.5s ease-out;
}

.cardins a.card:hover,.cardins a.card:focus {
  background:var(--primary);
  transition: all 0.5s ease-out;
}

.cardins .card-war.card:hover,.cardins .card-war.card:focus {
  background:var(--warning); /*использование переменной*/
  transition: all 0.5s ease-out;
}

.cardins a.card:hover span,
.cardins a.card:focus span,
.cardins a.card:hover p,
.cardins a.card:focus p {
  color:#fff !important; /*приоритет цвета*/
  transition: all 0.5s ease-out; /* Применить ко всем измененным свойствам */
}
