.authentication {
    max-width: 800px;
    margin: 0 auto;

    h1 {
        font-weight: 600;
    }

    form {
        padding: 5px 15px 15px 15px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        label {
            display: block;
            margin: 15px 0 10px 0;
            font-weight: 500;
        }

        input {
            width: -webkit-fill-available;
            padding: 7px;
            border: 1px solid #c2c1c1;
            border-radius: 3px;
            outline-color: rgb(141, 193, 219);
        }

        .error {
            margin: 5px 0 0 0;
        }

        button {
            margin: 30px 0 0 0;
            padding: 8px 12px;
            border: 0;
            border: 1px solid darkorange;
            border-radius: 3px;
            background-color: darkorange;
            color: white;
            font-size: 16px;
            cursor: pointer;

            &:hover {
                border: 1px solid darkorange;
                background-color: white;
                color: darkorange;
                transition: all 0.3s ease;
            }
        }
    }
}